test-project/SysML/ThreeTank_MM/TemplateNodes/custom_styles.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="styles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" name="style">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="kind" type="kind" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="kind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Character" />
      <xs:enumeration value="List" />
      <xs:enumeration value="Paragraph" />
      <xs:enumeration value="Section" />
      <xs:enumeration value="Table" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>